@model Models.EF.User
@{
    ViewBag.Title = "Tạo tài khoản";
    Layout = "../Shared/_Layout.cshtml";
}

<h3 class="col-lg-12" style="font-family:Arial, Helvetica, sans-serif">Thêm tài khoản</h3>

@using (Html.BeginForm("Create", "User", FormMethod.Post))
{

    @Html.AntiForgeryToken()

    <div class="form-group col-lg-12">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="card-body form-control">
            <div class="form-group row">
                <label class="col-md-12 col-form-label">Tên đăng nhập</label>
                <div class="col">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @placehold = "Tên đăng nhập" })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-12 col-form-label">Mật khẩu</label>
                <div class="col">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-12 col-form-label">Họ và tên</label>
                <div class="col">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control"})
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-12 col-form-label">Email</label>
                <div class="input-group col">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", type = "email" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-12 col-form-label">Số điện thoại</label>
                <div class="input-group col">
                    @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-12 col-form-label">Sinh nhật</label>
                <div class="input-group col">
                    @Html.TextBoxFor(model => model.BirthDay, new { @class = "form-control", @type = "date" })
                    @Html.ValidationMessageFor(model => model.BirthDay, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-12 col-form-label">Địa chỉ</label>
                <div class="input-group col">
                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @type = "text" })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-12 col-form-label">Modify</label>
                <div class="input-group col">
                    @Html.TextBoxFor(model => model.ModifiedBy, new { @class = "form-control", @type = "text" })
                    @Html.ValidationMessageFor(model => model.ModifiedBy, "", new { @class = "text-danger" })
                </div>
            </div>
          
            <div class="form-group row">
                <label class="col-md-12 col-form-label">Địa chỉ</label>
                <div class="input-group col">
                    @Html.TextBoxFor(model => model.TypeOfAccount, new { @class = "form-control", @type = "text" })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.EditorFor(model => model.CreatedBy,((Models.EF.User)Session["Admin"]).Name.ToString())
            </div>
    </div>
    <button type="submit" class="btn btn-info btn-fill pull-right  m-r-10">Tạo tài khoản</button>
    <button type="button" class="btn btn-info btn-fill pull-right m-r-10">
        @Html.ActionLink("Đổi mật khẩu", "Index", null, new { style = "color: white" })
    </button>
}

<button type="button" class="btn btn-info btn-fill pull-left m-l-10">
    @Html.ActionLink("Quay về", "Account", null, new { style = "color: white" })
</button>