@model PagedList.IPagedList<Models.EF.Product>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Sản phẩm";
    Layout = "../Shared/_Layout.cshtml";
}

    <div class="container-fluid">
        <!-- Button -->
        <div class="table-data__tool">
            <div class="table-data__tool-right">
                <button class="au-btn au-btn-icon au-btn--green au-btn--small pull-left">
                    <i class="zmdi zmdi-plus"></i>@Html.ActionLink("Thêm sản phẩm", "Create",null, new { @class = "text-white " })
                </button>
            </div>
        </div>
        <!-- Kết thúc Button -->

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive table--no-card m-b-30">
                    <table class="table table-borderless table-striped table-earning">
                        <thead>
                            <tr>
                                <th>Mã</th>
                                <th>Tên sản phẩm</th>
                                <th>Trong kho</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="row_@item.ProductCode">
                                    <td data-toggle="modal" data-target="#@item.ProductCode">@item.ProductCode</td>
                                    <td data-toggle="modal" data-target="#@item.ProductCode">@item.Name</td>
                                    <td>@item.Quanity</td>
                                    <td>
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Sửa">  
                                            @Html.ActionLink("Sửa", "Edit", new { id = @item.ProductCode })
                                        </button>
                                        |
                                        @Ajax.ActionLink("Xóa", "Delete", new { id = @item.ProductCode }, new AjaxOptions
                                        {
                                            Confirm = "Bạn có chắc muốn xóa sản phẩm này",
                                            OnComplete = "$('row_" + @item.ProductCode + "').remove()",
                                            HttpMethod = "Delete"
                                        })
                                    </td>  
                                </tr>   
                                <!--Modal for Product detail-->
                                 <div class="modal fade" id="@item.ProductCode"  data-keyboard="false" >
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="card-title">Thông tin sản phẩm</h4>
                                                <button type="button" class="close" data-dismiss="modal">×</button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="col-lg-12">
                                                    <div class="card mb-12">
                                                        <form role="form">

                                                            <div class="form-group row">
                                                                <label class="col-md-2 col-form-label">Tên sản phẩm</label>
                                                                <div class="input-group col">
                                                                    <div style="width:100% ">
                                                                        <input class="form-control" placeholder=@item.Name value="@item.Name" readonly/>
                                                                    </div>
                                                                </div>
                                                            </div>


                                                            <div class="form-group row">
                                                                <label class="col-md-2 col-form-label">Link sản phẩm</label>
                                                                <div class="input-group col">
                                                                    <div style="width:100% ">
                                                                        <input class="form-control" placeholder=@item.MetaTitle value=@item.MetaTitle readonly />
                                                                    </div>
                                                                </div>
                                                            </div>


                                                            <div class="form-group row">
                                                                <label class="col-md-2 col-form-label">Mô tả chi tiết</label>
                                                                <div class="input-group col">
                                                                    <div style="width:100% ">
                                                                        <input class="form-control" placeholder=@item.Description value=@item.Description readonly />
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="form-group row">
                                                                <label class="col-md-2 col-form-label">Mô tả chung</label>
                                                                <div class="input-group col">
                                                                    <div style="width:100% ">
                                                                        <input class="form-control" placeholder=@item.MetaDescription value=@item.MetaDescription readonly />
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="form-group row">
                                                                <label class="col-md-2 col-form-label">Ảnh sản phẩm</label>
                                                                <div class="input-group col">
                                                                    <div class="row col">
                                                                        <input class="form-control" placeholder=@item.ImageFirst value=@item.ImageFirst readonly />
                                                                    </div>
                                                                    <div class="row col">
                                                                        <input class="form-control" placeholder=@item.ImageSecond value=@item.ImageSecond readonly />
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="form-group row">
                                                                <label class="col-md-2 col-form-label">Giá bán</label>
                                                                <div class="col">
                                                                    <div class="input-group">
                                                                        <div class="row col">
                                                                            <input class="form-control" placeholder=@item.Price value=@item.Price readonly />
                                                                        </div>
                                                                        <div class="row col">
                                                                            <input class="form-control" placeholder=@item.PercentSale value=@item.PercentSale readonly />
                                                                        </div>
                                                                        <div class="row col">
                                                                            <input class="form-control" placeholder=@item.Promotion value=@item.Promotion readonly />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="form-group row">
                                                                <label class="col-md-2 col-form-label">Dòng sản phẩm</label>
                                                                <div class="col">
                                                                    <div class="input-group">
                                                                        <div class="row col">
                                                                            <input class="form-control" placeholder=@item.CategoryIDParent value=@item.CategoryIDParent readonly />
                                                                        </div>
                                                                        <div class="row col">
                                                                            <input class="form-control" placeholder=@item.CategoryIDChild value=@item.CategoryIDChild readonly />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="form-group row">

                                                                <div class="col">
                                                                    <div class="input-group">
                                                                        <div class="row col">
                                                                            <input class="form-control" placeholder=@item.CreatedDate value=@item.CreatedDate readonly />
                                                                        </div>
                                                                        <div class="row col">
                                                                            <input class="form-control" placeholder=@item.Quanity value=@item.Quanity readonly />
                                                                        </div>
                                                                        <div class="row col">
                                                                            <input class="form-control" placeholder=@item.Status value=@item.Status readonly />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="form-group row">

                                                                <div class="col">
                                                                    <div class="input-group">
                                                                        <div class="row col">
                                                                            <input class="form-control" placeholder=@item.BuyCount value=@item.BuyCount readonly />
                                                                        </div>
                                                                        <div class="row col">
                                                                            <input class="form-control" placeholder=@item.ViewCount value=@item.ViewCount readonly />
                                                                        </div>
                                                                        <div class="row col">
                                                                            <input class="form-control" placeholder=@item.ReviewPoint value=@item.ReviewPoint readonly />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End modal-->
                            }

                        </tbody>
                    </table>
                </div>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
            </div>
        </div>
        
        <!-- Kết thúc Sản phẩm đang bán -->
        <div class="space"></div>
        <!-- Sản phẩm bán chạy -->
        <div class="row">
            <div class="col-md-12">
                <div class="bgc-white bd bdrs-3 p-20 mB-20">
                    <h4 class="c-grey-900 mB-20">SẢN PHẨM BÁN CHẠY</h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col" class="de-muc">Sản phẩm</th>
                                <th scope="col" class="de-muc">Số lượng</th>
                                <th scope="col" class="de-muc">Tổng giá trị</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Máy lọc nước</td>
                                <td class="center">5.050</td>
                                <td class="center">1.001.114 VNĐ</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Máy lọc nước</td>
                                <td class="center">5.050</td>
                                <td class="center">1.001.114 VNĐ</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Máy lọc nước</td>
                                <td class="center">5.050</td>
                                <td class="center">1.001.114 VNĐ</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Kết thúc Sản phẩm bán chạy -->

</div>



