@using OnlineShop.Common;
@{
    
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Account";
    var admin = Session["Admin"] as Models.EF.User;
}
@section username{
    @admin.Name
}
@section username_dropdown{
    @admin.Name
}
@section email{
    @admin.Email
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">  
                    <div class="card-header">
                        <h4 class="card-title">Chỉnh sửa thông tin</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-5 pr-1">
                                    <div class="form-group">
                                        <label>Chức vụ (disabled)</label>
                                        <input type="text" class="form-control" disabled="" placeholder="Company" value="Creative Code Inc.">
                                    </div>
                                </div>
                                <div class="col-md-3 px-1">
                                    <div class="form-group">
                                        <label>Tên đăng nhập</label>
                                        <input type="text" class="form-control" placeholder="Username" value="@admin.Username">
                                    </div>
                                </div>
                                <div class="col-md-4 pl-1">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Địa chỉ email</label>
                                        <input type="email" class="form-control" placeholder="Email" value="@admin.Email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 pr-1">
                                    <div class="form-group">
                                        <label>Đáng lẽ ra là Họ</label>
                                        <input type="text" class="form-control" placeholder="Firstname" value="">
                                    </div>
                                </div>
                                <div class="col-md-6 pl-1">
                                    <div class="form-group">
                                        <label>Tên</label>
                                        <input type="text" class="form-control" placeholder="Lastname" value="@admin.Name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Địa chỉ</label>
                                        <input type="text" class="form-control" placeholder="Địa chỉ" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 pr-1">
                                    <div class="form-group">
                                        <label>Sinh nhật</label>
                                        <input type="text" class="form-control" placeholder="Birthday" value="@admin.BirthDay">
                                    </div>
                                </div>
                                <div class="col-md-4 px-1">
                                    <div class="form-group">
                                        <label>Số điện thoại</label>
                                        <input type="text" class="form-control" placeholder="Số điện thoại" value="@admin.Mobile">
                                    </div>
                                </div>
                                <div class="col-md-4 pl-1">
                                    <div class="form-group">
                                        <label>Postal Code</label>
                                        <input type="number" class="form-control" placeholder="ZIP Code">
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-info btn-fill pull-left">
                                <span style="color:white;">
                                    @Html.ActionLink("Sửa thông tin", "Edit", "Home")
                                </span>
                            </button>
                            <button type="submit" class="btn btn-info btn-fill pull-right">Cập nhật</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="card-image">
                        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="...">
                    </div>
                    <div class="card-body">
                        <div class="author">
                            <a href="#">
                                <img class="avatar border-gray" src="~/Assets/images/icon/avatar-04.jpg" alt="...">
                                <h5 class="title">@admin.Name</h5>
                            </a>
                            <p class="description">
                                @admin.Email
                            </p>
                        </div>
                        <p class="description text-center">
                            Mot so thong tin chi tiet
                        </p>
                    </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>

