@model Models.ViewModel.ChangePasswordViewModel;
@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "../Shared/_Layout.cshtml";
    var admin = Session["Admin"] as Models.EF.User;
}

@section username{
    @admin.Name
}
@section username_dropdown{
    @admin.Name
}
@section email{
    @admin.Email
}

<div class="page-wrapper">
    <div class="page-content--bge5">
        <div class="container">
            <div class="login-wrap">
                <div class="login-content">
                    <div class="login-logo">
                        <a href="#">
                            <img src="/Assets/images/icon/logo.png" alt="CoolAdmin">
                        </a>
                    </div>
                    <div class="login-form">
                        @(Model.Password = admin.Password);
                        @(Model.Username = admin.Username);
                        @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            {
                                <form action="" method="post">
                                    <div class="form-group">
                                        <label>Mật khẩu hiện tại</label>
                                        @Html.TextBoxFor(model => model.CurrentPassword, new { @class = "au-input au-input--full", @placeholder = "Mật khẩu hiện tại", @type = "password" } )
                                        @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-danger " })
                                    </div>
                                    <div class="form-group">
                                        <label>Mật khẩu mới</label>
                                        @Html.TextBoxFor(model => model.NewPassword, new { @class = "au-input au-input--full", @placeholder = "Mật khẩu mới", @type = "password" })
                                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger " })
                                    </div>
                                    <div class="form-group">
                                        <label>Nhập lại mật khẩu</label>
                                        @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "au-input au-input--full", @placeholder = "Xác nhận mật khẩu mới", @type = "password" })
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger " })
                                    </div>

                                    <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">Đăng nhập</button>
                                </form>
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>